/*====================
 変数
====================*/
$siteColor: #2f393a;
$siteColor-base: #d9d9d9;
$siteColor-sub: #304848;
$siteColor-note: #fcfaf2;
$siteColor-button: #de6710;
$siteColor-accent: #ae9600;
$siteColor-accent-hover: #ff9f58;
$siteColor-err: #ff6565;

$fontSize-sss: 10px;
$fontSize-ss: 13px;
$fontSize-s: 15px;
$fontSize-default: 16px;
$fontSize-m: 18px;
$fontSize-l: 20px;
$fontSize-xl: 24px;
$fontSize-xxl: 30px; //container_title
$fontSize-xxxl: 36px;

$fontColor-default: #333333;
$fontColor-sub: #898989;

$color-white: #f3f3f3;
$color-black: #0e0e0e;

$space-xxs: 5px;
$space-xs: 10px;
$space-s: 15px;
$space-m: 20px;
$space-l: 30px;
$space-xl: 40px;
$space-xxl: 50px;

%imgSize-xs {
  width: 180px;
  height: 120px;
}
%imgSize-s {
  width: 270px;
  height: 180px;
}
%imgSize-l {
  width: 540px;
  height: 360px;
}

$breakpoint: (
  'SP': 'screen and (max-width: 430px)',
  'TAB': 'screen and (max-width: 1024px)'
) !default;

@mixin mqSP() {
  @media #{map-get($breakpoint, 'SP')} {
    @content;
  }
}

@mixin mqTAB() {
  @media #{map-get($breakpoint, 'TAB')}{
    @content;
  }
}
%contents-wrapper {
  border-radius: 4px;
  box-sizing: border-box;
  margin: 0 auto;
  @include mqSP() {
    padding: $space-l $space-s;
  }
}
%subTitle {
  font-family: '游明朝体';
  font-weight: bold;
  font-size: $fontSize-xl;
  @include mqSP () {
    font-size: $fontSize-l;
  }
}

/*====================
 ベース
====================*/
html,
body {
  width: 100%;
  color: $fontColor-default;
  font-size: $fontSize-default;
  line-height: 1.5;
  letter-spacing: 0.05em;
  background-color: $siteColor;
}
button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: inherit;
  padding: 0;
}
img {
  width: 100%;
  vertical-align: bottom;
}
input, textarea, select {
  padding: $space-xxs $space-xs;
  border: none;
  box-sizing: border-box;
  background: none;
}
ul {
  list-style: none;
}

/*====================
 ヘッダー
====================*/
.header {
  background: $siteColor-sub;
  box-shadow: 0 1px 3px $siteColor-base;
  color: $color-white;
  height: 60px;
  position: fixed;
    top: 0;
  transition: all 1s;
  width: 100%;
  z-index: 1000;
  &_inner {
    display: flex;
      justify-content: space-between;
      align-items: center;
  }
  &_logo {
    font-family: "游明朝体";
    font-size: $fontSize-xxxl;
    font-weight: bold;
    padding-left: $space-s;
  }
  &_form {
    background: rgba($color-white, .3);
    border-radius: 30px;
    box-shadow: 0 0 5px $siteColor;
    display: flex;
      align-items: center;
    height: 35px;
    padding-left: $space-l;
    position: absolute;
     top: 50%;
     left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s;
    width: 450px;
    &.js-nonactive {
      opacity: 0;
    }
  }
  &_input {
    color: $color-white;
    font-size: $fontSize-s;
    height: 90%;
    text-shadow: 0 0 5px $siteColor;
    width: 47%;
    &::placeholder {
      color: rgba($color-white, .8)
    }
    &:focus {
      border-bottom: 2px solid white;
      outline: none;
    }
    &:first-child {
      border-right: 1px solid rgba($color-white, .8);
    }
  }
  &_submit {
    background: none;
    border-radius: 0 30px 30px 0;
    color: $color-white;
    height: 100%;
    padding: 0 $space-s;
    &:hover {
      background: rgba($color-white, .3);
    }
  }
  &_humburger {
    box-sizing: border-box;
    cursor: pointer;
    display: none;
    height: 44px;
    position: relative;
    transition: all .4s;
    width: 50px;
    & span {
      background: $color-white;
      height: 4px;
      position: absolute;
        left: 0;
      width: 100%;
      &:nth-of-type(1) {
        top: 0;
      }
      &:nth-of-type(2) {
        top: 20px;
      }
      &:nth-of-type(3) {
        bottom: 0;
      }
    }
  }
  &_menu {
    font-family: "游明朝体";
    &.js-active {
      right: 0;
    }
  }
  &.js-transparent {
    background: rgba($color-black, .1);
    box-shadow: none;
    & .header_menu .menu_item {
      background: none;
      &:last-child {
        color: $siteColor-accent;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@include mqSP() {
  .header {
    &-wrapper {
      padding: $space-xxs;
      box-sizing: border-box;
      position: relative;
    }
    &_logo {
      padding-right: 0;
    }
    &_form {
      display: none;
    }
    &_humburger {
      display: inline-block;
    }
    &_menu {
      width: 100%;
      padding: 70px $space_l $space-s;
      box-sizing: border-box;
      background: rgba(48, 72, 72, .8);
      position: absolute;
      top: 0;
      right: -100%;
      transition: 1.5s;
    }
  }
}

// メニュー
.menu {
  display: flex;
    align-items: center;
  &_item {
    padding: 0 $space-s;
    &:hover {
      background: rgba($color-white, .3);
    }
    &:last-child {
      background: $siteColor-accent;
      color: $color-white;
      &:hover {
        filter: brightness(1.3);
      }
    }
    &_link {
      display: block;
      font-weight: bold;
      line-height: 60px;
    }
  }
}

@include mqSP() {
  .menu {
    flex-direction: column;
    &_item {
      width: 100%;
      &--sp {
        display: block;
      }
    }
  }
}

/*====================
 フッター
====================*/
.footer {
  background: $siteColor;
  color: $color-white;
  &_wrapper {
    box-sizing: border-box;
    height: auto;
    margin: 0 auto;
    padding: $space-l;
    width: 1200px;
  }
  &_nav {
    display: flex;
      justify-content: space-between;
  }
  &_navItem {
    table {
      width: 570px;
    }
    tr {
      display: flex;
        align-items: center;
      padding-bottom: $space-xxs;
    }
    th {
      font-size: $fontSize-s;
      font-weight: normal;
      min-width: 25%;
      padding-right: $space-xs;
    }
    td {
      font-size: $fontSize-ss;
      line-height: $fontSize-default;
      padding-right: $space-xxs;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &_category {
    font-weight: bold;
    padding-bottom: $space-xs;
  }
  &_detail {
    font-size: $fontSize-s;
    padding-bottom: $space-xxs;
    &:hover {
      text-decoration: underline;
    }
  }
  &_form {
    background: rgba($color-white, .4);
    border-radius: 4px;
    color: $color-white;
    display: block;
    height: 150px;
    margin-bottom: $space-xxs;
    width: 250px;
  }
  &_submit {
    background: rgba($color-white, .5);
    border-radius: 4px;
    font-size: $fontSize-ss;
    padding: $space-xxs $space-xs;

  }
  &_copyright {
    display: block;
    font-size: $fontSize-ss;
    padding-top: $space-m;
    text-align: center;
    br {
      display: none;
    }
  }
}

@include mqSP() {
  .footer {
    &_wrapper {
      padding: $space-xs;
      width: 100%;
    }
    &_copyright {
      br {
        display: inline;
      }
    }
  }
}

/*====================
 共通コンテナ
====================*/
.page-wrapper {
  margin-top: 50px;
}
.container {
  color: $color-white;
  padding: 40px 0;
  &--baseColor {
    @extend .container;
    background: $siteColor-base;
    color: $fontColor-default;
  }
  &--subColor {
    @extend .container;
    background: $siteColor-sub;
  }
  &--note {
    @extend .container;
    background-blend-mode: darken;
    background-color: rgba($color-black, .4);
    background-image: url('/public/img/background-woody.JPG');
    background-position: left;
    background-repeat: repeat;
    background-size: 100% 60%;
  }
  &_head {
    margin: 0 auto;
    width: 70%;
  }
  &_title {
    font-family: '游明朝体';
    font-size: $fontSize-xxl;
    margin: -60px auto 0;
    max-width: 80%;
    padding-top: 60px;
    position: relative;
    &::before {
      content: '';
      font-size: 60px;
      letter-spacing: 0.08em;
      opacity: 0.2;
      position: absolute;
        top: 5px;
        left: 10px;
    }
  }
  &_notion {
    br {
      display: none;
    }
  }
  &_body {
    max-width: 1000px;
    padding: 0 $space-xs;
    box-sizing: border-box;
    margin: $space-l auto 0;
    &--xs {
      @extend .container_body;
      max-width: 35%;
    }
    &--s {
      @extend .container_body;
      max-width: 60%;
    }
    &--l {
      @extend .container_body;
      max-width: 1220px;
    }
    &--2col {
      display: flex;
        justify-content: space-between;
    }
  }
}

@include mqSP() {
  .container {
    &--note {
      background-size: 100% 15%;
    }
    &_title {
      font-size: $fontSize-xl;
    }
    &_notion {
      br {
        display: inline;
      }
    }
    &_body {
      &--xs {
        max-width: 100%;
      }
      &--s {
        max-width: 100%;
      }
    }
  }
}
/*====================
 index.php
====================*/
.hero {
  background-image: url('/public/img/IMG_9461.JPG');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.firstView {
  box-sizing: border-box;
  height: 100vh;
  opacity: 0.6;
  padding-top: 13%;
  position: relative;
  &_title {
    color: $color-white;
    font-family: '游明朝体';
    font-size:$fontSize-xxxl;
    position: absolute;
      top: 37%;
      left: 50%;
    transform: translateX(-50%);
    br {
      display: none;
    }
  }
}

.map {
  background: rgba($color-black, .8);
  padding: 80px 0 $space-l;
  &_pref {
    font-family: "游明朝体";
    font-size: $fontSize-l;
  }
  &_japanMap {
    margin: 0 auto;
    &> * {
      display: block;
      margin: 0 auto;
    }
  }
  & .container_title {
    position: relative;
    &::before {
      content: 'Check the Map';
      color: $color-white;
    }
  }
}
.search{
  padding-top: 100px;
  & > .container_title::before {
    content: 'Read Notes';
  }
}

.about {
  padding-top: 100px;
  &> .container_title::before {
    content: 'About us';
  }
}

.imgSlider {
  box-sizing: border-box;
  overflow: hidden;
  padding-top: $space-m;
  width: 100%;
  &_list {
    display: flex;
    flex-wrap: nowrap;
  }
  &_item {
    padding: 0 $space-xxs;
  }
  &_img {
    @extend %imgSize-xs;
  }
}
@include mqSP() {
  .firstView {
    &_title {
      span {
        display: none;
      }
      br {
        display: inline;
      }
    }
  }
  .map {
    display: none;
  }
}
/*====================
 index.php > feature
====================*/
.features-wrapper {
  @extend %contents-wrapper;
  padding: $space-xl $space-xxl;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}
.feature {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: $space-xxl;
  &:last-child {
    padding-bottom: 0;
  }
  &--reverse {
    flex-direction: row-reverse;
  }
  &_img {
    @extend %imgSize-l;
  }
  &_description {
    width: 35%;
    box-sizing: border-box;
  }
  &_title {
    @extend %subTitle;
  }
}

@include mqSP() {
  .features-wrapper {
    padding: 0;
    box-shadow: none;
  }
  .feature {
    flex-direction:column;
    &--reverse {
      flex-direction: column;
    }
    &_img {
      width: 270px;
      height: 180px;
      padding-bottom: $space-xs;
    }
    &_description {
      width: 100%;
    }
  }
}

/*====================
 prefectures.php > information
====================*/
.information {
  &_orderItems {
    display: flex;
      justify-content: space-around;
      align-items: center;
    margin-top: $space-l;
  }
  &_now {
    height:400px;
    margin: $space-s 0;
    width:400px;
  }
  &_map {
    height:400px;
    margin: $space-s 0;
    width:400px;
  }
}

@include mqSP() {
  .information {
    &_orderItems {
      flex-direction: column;
    }
    &_now {
      height: 200px;
      width: 300px;
    }
    &_map {
      height: 200px;
      width: 300px;
    }
  }
}

/*====================
 prefectures.php > changeDestination
====================*/
.changeDestination {
  position: relative;
  z-index: 3;
  &::after {
    content: '';
    background-attachment: fixed;
    background-blend-mode: lighten;
    background-color: rgba(255, 255, 255, .1);
    background-image: url('/public/img/IMG_5228.JPG');
    background-position: center;
    background-size: cover;
    height: 60%;
    position: absolute;
      top: 40%;
      right: 0;
      bottom: 0;
      left: 0;
    z-index: -100;
  }
}

/*====================
 note
====================*/
.note {
  color: $fontColor-default;
  margin-left: 18%;
  width: 60%;
  &_contents {
    background: rgba($siteColor-base, .8);
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: $space-m;
    width: 100%;
    padding: $space-xl $space-l;
    position: relative;
  }
  &_thumbnail {
    border-radius: 4px 4px 0 0;
    width: 100% ;
    position: absolute;
      top: 0;
      right: 0;
      left: 0;
  }
  &_icon {
    display: flex;
    justify-content: flex-end;
    margin-top: $space-xs;
  }
  &_text {
    line-height: 1.8;
    padding: $space-m $space-xs 0;
  }
  &_h2 {
    font-size: $fontSize-xl;
    line-height: 2;
    padding: $space-xs 0;
  }
  &_h3 {
    font-size: $fontSize-l;
    padding-bottom: $space-s;
  }
  &_h4 {
    font-size: $fontSize-m;
    padding-bottom: $space-s;
  }
  &_paragraph {
    padding: 0 $space-xxs $space-xs;
  }
  &_list {
    line-height: 1.4;
    list-style: inside;
    padding: 0 0 $space-s $space-xs;
  }
}

@include mqSP() {
  .note {
    &-wrapper {
      margin-left: 0;
      width: 100%;
    }
    &_thumbnail {
      display: block;
    }
  }
}

.comments {
  @extend %contents-wrapper;
  background: rgba($siteColor-base, .8);
  color: $fontColor-default;
  &_list {
    margin-bottom: $space-m;
  }
  &_item {
    border-bottom: 1px solid $siteColor;
    padding: $space-xs;
  }
  &_text {
    font-size: $fontSize-s;
  }
  &_posting {
    border-radius: 4px;
    box-sizing: border-box;
    padding: $space-xs;
    width: 100%;
  }
}

@include mqSP() {
  .comments {
    &_list {
    }
    &_item {
    }
    &_text {
      font-size: $fontSize-ss;
    }
    &_posting {
    }
  }
}

.userInfo {
  display: flex;
    align-items: center;
  margin-bottom: $space-xxs;
  &--big {
    align-items: flex-start;
    flex-direction: column;
  }
  &_img {
    border-radius: 100%;
    height: 35px;
    margin-right: $space-xs;
    width: 35px;
    &--big {
      height: 100px;
      padding-bottom: $space-xxs;
      width: 100px;
    }
  }
  &_name {
    font-size: $fontSize-s;
    &--big {
      font-size: $fontSize-default;
      font-weight: bold;
    }
  }
  &_date {
    color: $fontColor-sub;
    font-size: $fontSize-ss;
    margin-left: $space-xs;
  }
  &_intro {
    font-size: $fontSize-ss;
    max-height: 80px;
    overflow: hidden;
  }
}

@include mqSP() {
  .userInfo {
    margin-bottom: $space-xxs;
    &--big {
      align-items: center;
      flex-direction: row;
      margin-bottom: 0;
    }
    &_img {
      &--big {
        height: 35px;
        padding-bottom: 0;
        width: 35px;
      }
    }
    &_name {
      font-size: $fontSize-ss;
    }
  }
}

.iconBox {
  color: $fontColor-sub;
  display: flex;
    align-items: center;
  &_num {
    font-size: $fontSize-ss;
    padding: 0 $space-xs 0 $space-xxs;
  }
}

.icon {
  cursor: pointer;
  &--bookmark {
    &.active {
      color: $siteColor-accent;
    }
  }
}

/*====================
 noteList
====================*/
.searchMenu {
  line-height: 1;
  &_item {
    display: flex;
      align-items: center;
      justify-content: space-between;
    padding-bottom: $space-s;
  }
  &_sort {
    display: flex;
    p {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &_appearNum {
    padding: $space-xxs;
  }
}
@include mqSP() {
  .searchMenu {
    &_item {
      &:last-child {
        align-items: flex-start;
        flex-direction: column-reverse;
      }
    }
    &_appearNum {
      margin-bottom: $space-s;
    }
  }
}

.modal {
  display: none;
  position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  z-index: 1000;
  &_content {
    position: absolute;
      top: 120px;
      left: 50%;
    transform: translateX(-50%);
    width: 35%;
    z-index: 2000;
  }
  &_header {
    color: $color-white;
    font-size: $fontSize-l;
  }
  &_list {
    background: rgba($color-white, .5);
    border-radius: 4px;
    height: 40vh;
    margin-top: $space-xs;
    overflow-y: scroll;
    padding: $space-s;
  }
  &-wrapper {
    width: 980px;
    position: absolute;
      top: 120px;
      left: 50%;
    transform: translateX(-50%);
  }
  &_note {
    background: rgba($siteColor-base, .8);
    border-radius: 4px;
    margin-bottom: $space-m;
  }
  &_thumbnail {
     border-radius: 4px 4px 0 0;
     height: 250px;
     position: relative;
     &::before {
       content: '';
       background-image: url('/public/img/IMG_5131.JPG');
       background-position: center;
       background-size: cover;
       border-radius: 4px 4px 0 0;
       position: absolute;
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;
    }
  }
  &_body {
    color: $fontColor-default;
    display: flex;
    padding: $space-s;
  }
  &_outline {
    border-left: 1px solid $fontColor-default;
    box-sizing: border-box;
    display: flex;
      flex-direction: column;
    max-width: 50%;
    min-width: 50%;
    padding: $space-xs;
  }
  &_chapter {
    display: flex;
      align-items: flex-start;
      flex-direction: column;
    padding-bottom: $space-xxs;
    &:last-child {
      padding-bottom: 0;
    }
  }
  &_beginning {
    font-size: $fontSize-s;
    height: 20px;
    overflow: hidden;
  }
  &_form {
    width: 50%;
    margin-bottom: $space-m;
    p {
      font-size: $fontSize-l;
      font-weight: bold;
      margin-bottom: $space-s;
    }
  }
  &_action {
    color: $color-white;
    cursor: pointer;
    font-size: $fontSize-s;
    margin-top: $space-xs;
    &:hover {
      text-decoration: underline;
    }
  }
  &_cover {
    background: rgba($color-black, .9);
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

@include mqSP() {
  .modal {
    display: none;
    &-wrapper {
      width: 90%;
        top: 100px;
    }
    &_note {
      margin-bottom: $space-xs;
    }
    &_thumbnail {
      height: 150px;
    }
    &_body {
      padding: $space-xxs;
    }
    &_outline {
      padding: $space-xs;
    }
    &_chapter {
      font-size: $fontSize-s;
      padding-bottom: $space-xxs;
    }
    &_beginning {
      font-size: $fontSize-sss;
      height: 40px;
    }
    &_form {
      width: 100%;
      margin-bottom: $space-xs;
    }
    &_action {
      font-size: $fontSize-s;
    }
  }
}

/*====================
 mypage
====================*/
.mypage {
  color: $fontColor-default;
  margin-bottom: $space_l;
  width: 78%;
  &_nav {
    display: flex;
    span {
      background: $fontColor-default;
    }
  }
  &_navItem {
    background: rgba($siteColor-base, .4);
    border-right: 1px solid rgba($color-white, .7);
    color: $color-white;
    cursor: pointer;
    font-weight: bold;
    padding: $space-xs $space-s;
    &:first-child {
      border-radius: 4px 0 0 0;
    }
    &:last-child {
      border-radius: 0 4px 0 0;
      border-right: none;
    }
    &:hover {
      background: rgba($siteColor-base, .2);
    }
    &.selected {
      background: rgba($siteColor-base, .7);
      color: $fontColor-default;
    }
  }
  &_article {
    background: rgba($siteColor-base, .7);
    border-radius: 0 4px 4px 4px;
    box-sizing: border-box;
    padding: $space-m $space-xs $space-s;
    width: 100%;
  }
  &_contents {
    display: none;
    &.active {
      display: block;
      animation: fadeIn 1.7s;
    }
  }
  &_title {
    @extend %subTitle;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@include mqSP() {
  .mypage {
    width: 100%;
    &_nav {
      font-size: $fontSize-s;
    }
  }
}

/*====================
 sidebar
====================*/
.sidebar {
  background: rgba($siteColor-base, .7);
  border-radius: 4px;
  height: 100%;
  margin-left: 1%;
  position: sticky;
    top: 90px;
  width: 23%;
  &_thumbnail {
    border-radius: 4px 4px 0 0;
    height: 200px;
  }
  &_contents {
    color: $fontColor-default;
    padding: $space-xs;
    text-align: left;
  }
  &_profile {
    color: $fontColor-default;
    margin-bottom: $space-xs;
  }
  &_chapters {
    margin-bottom: $space-xs;
    padding: $space-xxs 0;
  }
}

@include mqSP() {
  .sidebar {
    border-radius: 0;
    height: auto;
    margin-left: 0;
    position: fixed;
      top: 70px;
      left: 0;
    width: 100%;
    &_thumbnail {
      display: none;
    }
    &_contents {
      padding: $space-xxs $space-xs;
    }
    &_profile {
      margin-bottom: 0;
    }
    &_menu {
      display: none;
    }
    &_chapters {
      display: none;
    }
  }
}
/*====================
 list
====================*/
.list {
  @extend %contents-wrapper;
  padding-top: $space-m;
  &--note {
    @extend .list;
    padding: $space-s 0;
  }
  &--wish {
  }
  &--destination {
    @extend .list;
    .list_title {
      text-align: left;
    }
  }
  &_title {
    @extend %subTitle;
    &--destination {
      @extend .list_title;
      text-align: center;
    }
  }
  &_body {
    display: flex;
      flex-wrap: wrap;
    &--wish {
      background: rgba($siteColor-base, .2);
      box-sizing: border-box;
      height: 300px;
      overflow-y: auto;
      padding: $space-s;
      width: 100%;
    }
    &--note {
      @extend .list_body;
        justify-content: flex-start;
      margin-left: 35px;
    }
    &--destination {
      @extend .list_body;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: flex-start;
      margin: 0 -10px $space-l 0;
      overflow-x: auto;
    }
  }
}

@include mqSP() {
  .list {
    flex-direction: column;
    padding: 0 0 $space-l;
    &_body {
      &--note {
          flex-wrap: nowrap;
        overflow-x: auto;
      }
    }
  }
}

/*====================
 panel
====================*/
.panel {
  border-radius: 4px;
  color: $fontColor-default;
  position: relative;
  &--note {
    @extend .panel;
    background: rgba(252, 250, 242, .8);
    height: 285px;
    margin: 0 $space-xs $space-s 0;
    transition: all .5s;
    width: 220px;
    &:hover {
      transform: scale(1.07);
    }
  }
  &_thumbnail {
    border-radius: 4px 4px 0 0;
    height: 150px;
  }
  &_info {
    box-sizing: border-box;
    height: auto;
    padding: $space-xxs $space-xs;
    text-align: left;
    width: 100%;
  }
  &_title {
    font-size: $fontSize-s;
    margin-bottom: $space-xxs;
    max-height: 45px;
    overflow: hidden;
  }
  &_subInfo{
    color: $fontColor-sub;
    font-size: $fontSize-ss;
    line-height: 1.2;
  }
  &--wish {
    @extend .panel;
    background: $color-white;
    box-sizing: border-box;
    display: flex;
      align-items: center;
      justify-content: space-between;
    margin-bottom: $space-xxs;
    padding: $space-xs $space-s;
    width: 100%;
    &:last-child {
      margin-bottom: 0;
    }
    &::after {
      content: '\f004';
      color: $fontColor-sub;
      font-family: "Font Awesome 6 Free";
      font-size: $fontSize-xl;
      font-weight: 900;
      position: absolute;
      right: 15px;
    }
  }
  &_table {
    margin-right: 25px;
    width: 70%;
    tbody {
      display: flex;
        align-items: center;
    }
  }
  &_tableElm {
    &:first-child {
      width: 30%;
    }
    th {
      color: $fontColor-sub;
      font-size: $fontSize-ss;
      padding-right: $space-xs;
    }
    td {
      font-size: $fontSize-m;
    }
  }
  &--destination {
    @extend .panel;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    height: 80px;
    margin: 0 $space-xs $space-xs 0;
    min-width: 15%;
  }
  &_destImg {
    border-radius: 4px;
    height: 100%;
  }
  &_destCover {
    background: rgba($color-black, .9);
    border-radius: 4px;
    position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    transition: 1s;
  }
  &_destName {
    color: $color-white;
    font-size: $fontSize-m;
    position: absolute;
      top: 50%;
      left: 50%;
    transform: translate(-50%, -40%);
  }
}

@include mqSP() {
  .panel {
    &--note {
      height: 300px;
      min-width: 180px;
    }
    &_title {
      font-size: $fontSize-s;
      max-height: 45px;
    }
    &--wish {
      align-items: flex-start;
      flex-direction: column;
      &::after {
        top: 8px;
      }
    }
    &_table {
      width: 100%;
    }
    &_tableElm {
      display: flex;
        align-items: flex-start;
        flex-direction: column;
      &:first-child {
        width: 25%;
      }
      td {
        font-size: $fontSize-s;
      }
    }
    &--destination {
      height: auto;
      min-width: 35%;
    }
    &_destName {
      font-size: $fontSize-s;
    }
  }
}

/*====================
 form
====================*/
.form {
  @extend %contents-wrapper;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  padding: $space-l $space-m;
  &--editor {
    @extend %contents-wrapper;
    color: $fontColor-default;
    background: rgba($color-white, .7);
  }
  &_title {
    @extend %subTitle;
    color: $fontColor-default;
    padding-bottom: $space-xl;
  }
  &_name {
    margin-bottom: $space-xxs;
    display: flex;
    align-items: center;
  }
  &_label {
    padding: 2px 3px;
    border-radius: 2px;
    margin-right: $space-xxs;
    font-size: $fontSize-ss;
    color: #fff;
    &--required {
      background: $siteColor-err;
    }
    &--optional {
      background: $siteColor-base;
    }
  }
  &_input {
    height: 45px;
    width: 100%;
    border-radius: 3px;
    background: $siteColor-base;
    &:focus-visible {
      outline: none;
    }
    &:focus {
      border: 2px solid $siteColor-sub;
    }
    &--header {
      font-size: $fontSize-xl;
      height: 55px;
    }
    &--half {
      width: 40%;
    }
    &--err {
      background: rgba($siteColor-err, .3);
    }
  }
  &_avatar {
    width: 130px;
    height: auto;
  }
  &_addThumbnail {
    cursor: pointer;
    display: flex;
      align-items: center;
    i {
      padding-right: $space-xxs;
    }
  }
  &_button {
    width: 45%;
    padding: $space-xs 0;
    border-radius: 10px;
    box-sizing: border-box;
    margin: $space-xs auto 0;
    background: $siteColor-button;
    box-shadow: 0 4px 1px #552808;
    font-size: $fontSize-m;
    color: $color-white;
    letter-spacing: 0.05em;
    transition: .1s;
    display: block;
    &:hover {
      filter: brightness(1.5);
    }
    &:active {
      box-shadow: none;
      transform: translateY(4px);
    }
  }
  &_editor {
    background: $siteColor-base;
    border-radius: 4px;
    padding-top: $space-m;
  }
  &_errMsg {
    height: 15px;
    margin-bottom: $space-s;
    font-size: $fontSize-ss;
    color: $siteColor-err;
  }
  &_notion {
    font-size: $fontSize-ss;
    margin-top: $space-xs;
    text-align: right;
  }
}

@include mqSP() {
  .form {
    &_date {
      align-items: flex-start;
      flex-direction: column;
    }
  }
}
/*====================
  セッションメッセージ
====================*/
.flashMsg {
  height: 80px;
  position: fixed;
   top: -80px;
   left: 0;
  text-align: center;
  transition: all 1.5s;
  width: 100%;
  z-index: 2000;
  &.active {
    transform: translateY(80px);
  }
  &--success {
    background: rgba(#338a4e, .98);
  }
  &_text {
    color: $color-white;
    font-size: $fontSize-l;
    line-height: 80px;
  }
}

/*====================
  プロフィールカルーセル
====================*/
.carousel {
  height: 670px;
  overflow: hidden;
  position:relative;
  &_wrapper {
    display: flex;
    position: absolute;
  }
  &_item {
    box-sizing: border-box;
    min-width: 100vw;
    padding: 0 32.5vw;
  }
  &_nav {
    box-sizing: border-box;
    display: flex;
      justify-content: space-between;
    margin: 0 auto;
    padding: $space-l 15% $space-m;
  }
  &_navItem {
    cursor: pointer;
    display: flex;
      align-items: center;
      flex-direction: column;
    min-width: 30%;
    span {
      background: $color-white;
      border-radius: 100%;
      height: 50px;
      position: relative;
      width: 50px;
    }
    &.active {
      span {
        background: $color-black;
        color: $color-white;
      }
    }
    p {
      color: $fontColor-sub;
      font-size: $fontSize-ss;
    }
  }
  &_icon {
    font-size: $fontSize-xl;
    position: absolute;
      top: 50%;
      left: 50%;
    transform: translate(-50%, -50%);
  }
}

/*====================
  ウィッシュリスト
====================*/
.followingBtn {
  background: $siteColor-button;
  border-radius: 40px;
  box-shadow: 0 4px 1px #552808;
  box-sizing: border-box;
  color: $color-white;
  cursor: pointer;
  display: flex;
    align-items: center;
    justify-content: space-between;
  font-size: $fontSize-s;
  font-weight: bold;
  height: 50px;
  padding: $space-xs;
  position: fixed;
    right: 50px;
    bottom: 50px;
  width: 120px;
}

@include mqSP() {
  .followingBtn {
    box-shadow: 0 5px $color-black;
    font-size: $fontSize-ss;
    height: 40px;
    padding: $space-xxs;
      right: 10px;
    width: 95px;
  }
}

/*====================
  ピンポイントアイテム
====================*/
.smallfont {
  font-size: $fontSize-ss;
  letter-spacing: 0.01em;
}

.link{
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.itemSeparater {
  background: $color-white;
  margin: 0 $space-xs;
  width: 1px;
}
