/*====================
 変数
====================*/
$siteColor: #2f393a;
$siteColor-base: #d9d9d9;
$siteColor-sub: #304848;
$siteColor-note: #fcfaf2;
$siteColor-button: #de6710;
$siteColor-accent: #ae9600;
$siteColor-accent-hover: #ff9f58;
$siteColor-err: #ff6565;

$fontSize-sss: 10px;
$fontSize-ss: 13px;
$fontSize-s: 15px;
$fontSize-default: 16px;
$fontSize-m: 18px;
$fontSize-l: 20px;
$fontSize-xl: 24px;
$fontSize-xxl: 30px;
$fontSize-xxxl: 36px;

$fontColor-default: #333333;
$fontColor-sub: #898989;

$color-white: #f3f3f3;
$color-black: #0e0e0e;

$space-xxs: 5px;
$space-xs: 10px;
$space-s: 15px;
$space-m: 20px;
$space-l: 30px;
$space-xl: 40px;
$space-xxl: 50px;


$breakpoint: (
  'SP': 'screen and (max-width: 430px)',
  'TAB': 'screen and (max-width: 1024px)'
) !default;

@mixin mqSP() {
  @media #{map-get($breakpoint, 'SP')} {
    @content;
  }
}

@mixin mqTAB() {
  @media #{map-get($breakpoint, 'TAB')}{
    @content;
  }
}
%contents-wrapper {
  border-radius: 4px;
  box-sizing: border-box;
  margin: 0 auto;
  @include mqSP() {
    padding: $space-l $space-s;
  }
}
%subTitle {
  font-family: "游明朝体";
  font-weight: bold;
  font-size: $fontSize-l;
  @include mqSP () {
    font-size: $fontSize-l;
  }
}

/*====================
 ベース
====================*/
html,
body {
  width: 100%;
  color: $fontColor-default;
  font-size: $fontSize-default;
  line-height: 1.5;
  letter-spacing: 0.05em;
  background-color: $siteColor;
}
button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: inherit;
  padding: 0;
}
img {
  width: 100%;
  vertical-align: bottom;
}
input, textarea, select {
  padding: $space-xxs $space-xs;
  border: none;
  box-sizing: border-box;
  background: none;
}
ul {
  list-style: none;
}


/*====================
 ヘッダー
====================*/
.header {
  background: $siteColor-sub;
  box-shadow: 0 1px 3px $siteColor-base;
  color: $color-white;
  height: 60px;
  position: fixed;
    top: 0;
  transition: all 1s;
  width: 100%;
  z-index: 2000;
  &_inner {
    box-sizing: border-box;
    display: flex;
      justify-content: space-between;
      align-items: center;
    height: 100%;
    width: 100%;
  }
  &_logo {
    display: flex;
      align-items: center;
      justify-content: center;
    height: 100%;
    padding-left: $space-xs;
    z-index: 3000;
    &_img {
      height: 90%;
      width: auto;
    }
  }
  &_form {
    background: rgba($color-white, .3);
    border-radius: 30px;
    box-shadow: 0 0 5px $siteColor;
    display: flex;
      align-items: center;
    height: 35px;
    padding-left: $space-l;
    position: absolute;
     top: 50%;
     left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s;
    width: 450px;
    &.js-nonactive {
      opacity: 0;
    }
  }
  &_input {
    color: $color-white;
    font-size: $fontSize-s;
    height: 90%;
    text-shadow: 0 0 5px $siteColor;
    width: 47%;
    &::placeholder {
      color: rgba($color-white, .8)
    }
    &:focus {
      border-bottom: 2px solid white;
      outline: none;
    }
    &:first-child {
      border-right: 1px solid rgba($color-white, .8);
    }
  }
  &_submit {
    background: none;
    border-radius: 0 30px 30px 0;
    color: $color-white;
    height: 100%;
    padding: 0 $space-s;
    &:hover {
      background: rgba($color-white, .3);
    }
  }
  &_sp {
    display: none;
  }
  &_search {
    color: $siteColor-accent;
    font-size: 2em;
    height: 50px;
    width: 50px;
  }
  &_humburger {
    box-sizing: border-box;
    cursor: pointer;
    height: 50px;
    margin: 0 $space-xxs 0 $space-xxs;
    position: relative;
    transition: all .4s;
    width: 50px;
    z-index: 3000;
    & span {
      background: $siteColor-accent;
      height: 3px;
      position: absolute;
        left: 0;
      transition: all 1s;
      width: 90%;
      &:nth-of-type(1) {
        top: 5px;
      }
      &:nth-of-type(2) {
        top: 23.5px;
      }
      &:nth-of-type(3) {
        bottom: 5px;
      }
    }
    &.js-active {
      span {
        &:nth-of-type(1) {
          transform: translateY(20px) rotate(45deg);
        }
        &:nth-of-type(2) {
          transform: translateX(100%);
          opacity: 0;
        }
        &:nth-of-type(3) {
          transform: translateY(-20px) rotate(-45deg);
        }
      }
    }
  }
  &_menu {
    &.js-active {
      right: 0;
    }
  }
  &.js-transparent {
    background: rgba($color-black, .1);
    box-shadow: none;
    & .header_menu .menu_item {
      background: none;
      &:last-child {
        color: $siteColor-accent;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
// メニュー
.menu {
  display: flex;
    align-items: center;
  font-family: "游明朝体";
  font-weight: bold;
  &_item {
    padding: 0 $space-s;
    &:hover {
      background: rgba($color-white, .3);
    }
    &:last-child {
      background: $siteColor-accent;
      color: $color-white;
      &:hover {
        filter: brightness(1.3);
      }
    }
    svg {
      margin-right: 8px;
    }
    &_link {
      display: block;
      line-height: 60px;
    }
  }
}


@include mqSP() {
  .header {
    &-wrapper {
      padding: $space-xxs;
      box-sizing: border-box;
      position: relative;
    }
    &_logo {
      padding-left: 2px;
      &_img {
        height: 95%;
        width: auto;
      }
    }
    &_form {
      background: rgba($color-white, .7);
      box-sizing: border-box;
      height: 70%;
      position: absolute;
       top: -100%;
      width: 100%;
      &.js-active {
        opacity: 1;
          top: 100%;
        transform: translate(-50%, 20%);
      }
    }
    &_input {
      color: $fontColor-default;
      text-shadow: none;
      &::placeholder {
        color: rgba($fontColor-default, .8)
      }
    }
    &_submit {
      background: rgba($color-black, .4);
      color: rgba($color-white, .7);
      &:hover {
        filter: brightness(1.2);
      }
    }
    &_sp {
      display: flex;
        align-items: center;
    }
    &_menu {
      width: 100%;
      padding: 70px $space_l $space-s;
      box-sizing: border-box;
      background: $siteColor-sub;
      position: absolute;
      top: 0;
      right: -100%;
      transition: 1.5s;
    }
  }

  .menu {
      flex-direction: column;
    font-size: $fontSize-m;
    &_item {
      width: 100%;
      &--sp {
        display: block;
      }
      svg {
        margin-right: $space-xs;
        width: 25px;
      }
      &_link {
        line-height: 3;
      }
    }
  }
}

/*====================
 フッター
====================*/
.footer {
  background: $siteColor;
  color: $color-white;
  font-family: "游明朝体";
  &_wrapper {
    box-sizing: border-box;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
    padding: $space-l;
    width: 1200px;
  }
  &_nav {
    display: flex;
      justify-content: space-between;
  }
  &_navItem {
    table {
      width: 570px;
    }
    tr {
      display: flex;
        align-items: center;
      padding-bottom: $space-xxs;
    }
    th {
      font-size: $fontSize-s;
      font-weight: normal;
      min-width: 25%;
      padding-right: $space-xs;
    }
    td {
      font-size: $fontSize-ss;
      line-height: $fontSize-default;
      padding-right: $space-xxs;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &_category {
    font-weight: bold;
    padding-bottom: $space-xs;
  }
  &_detail {
    font-size: $fontSize-s;
    padding-bottom: $space-xxs;
    &:hover {
      text-decoration: underline;
    }
  }
  &_form {
    background: rgba($color-white, .4);
    border-radius: 4px;
    color: $color-white;
    display: block;
    height: 150px;
    margin-bottom: $space-xxs;
    width: 250px;
  }
  &_submit {
    background: rgba($color-white, .5);
    border-radius: 4px;
    font-size: $fontSize-ss;
    padding: $space-xxs $space-xs;
  }
  &_copyright {
    display: block;
    font-size: $fontSize-ss;
    padding-top: $space-m;
    text-align: center;
    br {
      display: none;
    }
  }
}

@include mqSP() {
  .footer {
    &_wrapper {
      padding: $space-m $space-s;
    }
    &_nav {
      flex-wrap: wrap;
    }
    &_copyright {
      br {
        display: inline;
      }
    }
    &_spHide {
      display: none;
    }
  }
}

/*====================
 共通コンテナ
====================*/
.page-wrapper {
  margin-top: 50px;
}
.container {
  color: $color-white;
  padding: 40px 0 30px;
  &--baseColor {
    @extend .container;
    background: $siteColor-base;
    color: $fontColor-default;
  }
  &--subColor {
    @extend .container;
    background: $siteColor-sub;
  }
  &--transparent {
    @extend .container;
    background: rgba($color-black, .8);
  }
  &--note {
    @extend .container;
    background-blend-mode: darken;
    background-color: rgba($color-black, .4);
    background-image: url('/public/img/background-woody.JPG');
    background-position: left;
    background-repeat: repeat;
    background-size: 100% 60%;
  }
  &_title {
    font-family: "游明朝体";
    font-size: $fontSize-xxl;
    margin: -60px auto 0;
    max-width: 80%;
    padding-top: 60px;
    position: relative;
    &::before {
      content: '';
      font-size: 60px;
      letter-spacing: 0.08em;
      opacity: 0.2;
      position: absolute;
        top: 5px;
        left: 10px;
    }
  }
  &_notion {
    margin: 0 auto;
    max-width: 80%;
    br {
      display: none;
    }
  }
  &_body {
    max-width: 1000px;
    padding: 0 $space-xs;
    box-sizing: border-box;
    margin: $space-l auto 0;
    &--xs {
      @extend .container_body;
      max-width: 35%;
      min-width: 400px;
    }
    &--s {
      @extend .container_body;
      max-width: 60%;
    }
    &--l {
      @extend .container_body;
      max-width: 1220px;
    }
    &--col {
      display: flex;
        justify-content: space-between;
    }
  }
}

@include mqSP() {
  .container {
    &--note {
      background-size: 100% 15%;
    }
    &_title {
      font-size: $fontSize-l;
      max-width: 95%;
      &::before {
        font-size: 40px;
        top: 35px;
      }
      &--mypage {
        margin-top: 0;
      }
    }
    &_notion {
      br {
        display: inline;
      }
    }
    &_body {
      padding: 0 $space-xxs;
      &--xs {
        max-width: 100%;
        min-width: 90%;
      }
      &--s {
        max-width: 100%;
      }
      &--col {
        flex-direction: column-reverse;
      }
    }
  }
}
/*====================
 index.php
====================*/
.hero {
  background-image: url('/public/img/hero/trabase_top.jpg');
  background-attachment: fixed;
  background-blend-mode: darken;
  background-color: rgba($color-black, .7);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.firstView {
  box-sizing: border-box;
  height: 100vh;
  opacity: 0.6;
  padding-top: 13%;
  position: relative;
  &_title {
    color: $color-white;
    font-family: "游明朝体";
    font-size: $fontSize-xxxl;
    letter-spacing: 0.1em;
    opacity: 1;
    position: fixed;
      top: 37%;
    text-align: center;
    transition: all .5s;
    visibility: visible;
    width: 100%;
    &--big {
      @extend .firstView_title;
      font-size: 70px;
    }
    &.js-nonactive {
      opacity: 0;
      visibility: hidden;
    }
    br {
      display: none;
    }
  }
  &_form {
    @extend .header_form;
  }
}

@include mqSP() {
  .firstView {
    &_title {
      &--big {
        @extend .firstView_title;
        font-size: 50px;
      }
      span {
        display: none;
      }
      br {
        display: inline;
      }
    }
    &_form {
      display: none;
    }
  }
}

.map {
  padding: 80px 0 $space-m;
  &_pref {
    font-family: "游明朝体";
    font-size: $fontSize-l;
  }
  &_japanMap {
    margin: 0 auto;
    &> * {
      display: block;
      margin: 0 auto;
    }
  }
  & .container_title {
    position: relative;
    &::before {
      content: 'Check the Map';
      color: $color-white;
    }
  }
}

.search{
  padding-top: 100px;
  & > .container_title::before {
    content: 'Read Notes';
  }
}

@include mqSP() {
  .search{
    padding-top: 40px;
  }
};

.about {
  padding: 100px 0;
  &> .container_title::before {
    content: 'About us';
  }
}
@include mqSP() {
  .about {
    padding-top: 40px;
  }
};

.imgSlider {
  background: rgba($color-black, .6);
  box-sizing: border-box;
  overflow: hidden;
  padding: $space-xxs 0;
  width: 100%;
  & .slick-slide{
    margin: 0 $space-xxs;/*スライド左右の余白調整*/
  }
  &_img {
    width: 100%;
    height: auto;
  }
}

.splide {
  background: rgba($color-black, 0.8);
  padding: $space-xs 0;
}




/*====================
 index.php > feature
====================*/
.features-wrapper {
  @extend %contents-wrapper;
  padding: $space-xl $space-xxl;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}
.feature {
  display: flex;
    align-items: center;
    justify-content: space-around;
  flex-wrap: wrap;
  font-family: "游明朝体";
  padding-bottom: $space-xl;
  &:last-child {
    padding-bottom: 0;
  }
  &--reverse {
    flex-direction: row-reverse;
  }
  &_img {
    max-width: 390px;
    height: auto;
  }
  &_description {
    box-sizing: border-box;
    display: flex;
      align-items:center;
      flex-direction: column;
      justify-content: center;
    min-width: 40%;
  }
  &_title {
    @extend %subTitle;
    color: $siteColor-accent;
    font-size: $fontSize-xl;
    padding-bottom: $space-s;
  }
  &_text {
    padding-bottom: $space-xxs;
  }
}

@include mqSP() {
  .features-wrapper {
    padding: 0;
    box-shadow: none;
  }
  .feature {
    flex-direction:column;
    padding-bottom: $space-m;
    &--reverse {
      flex-direction: column;
    }
    &_img {
      width: 270px;
      height: 180px;
      padding-bottom: $space-xs;
    }
    &_description {
      text-align: center;
      width: 100%;
    }
    &_title {
      padding-bottom: $space-xs;
    }
  }
}

/*====================
 prefectures.php > information
====================*/
.informations {
  padding-top: 100px;
  & > .container_title::before {
    content: 'Informations';
  }
  &_map {
    margin-top: $space-m;
  }
  &_google {
    height: 350px;
    margin: $space-m auto 0;
    width: 40vw;
  }
}

@include mqSP() {
  .informations {
    &_map {
      margin-top: $space-s;
    }
    &_google {
      height: 200px;
      width: 85vw;
    }
  }
}

.prefNotes {
  padding-top: 80px;
  & > .container_title::before {
    content: 'Notes';
  }
}
@include mqSP() {
  .prefNotes {
    padding-top: $space-xl;
  }
}


/*====================
 prefectures.php > changeDestination
====================*/
.destination {
  background-attachment: fixed;
  background-color: rgba($color-white, .6);
  background-blend-mode: lighten;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $fontColor-default;
  padding-top: 80px;
  & > .container_title::before {
    content: 'Change Destinations';
  }
  svg {
    margin-right: $space-xxs;
  }
}
@include mqSP() {
  .destination {
    padding-top: $space-xl;
    & > .container_title::before {
      content: 'Change Destinations';
    }
  }
}

/*====================
 note
====================*/
.note {
  color: $fontColor-default;
  width: 73%;
  &_contents {
    background: rgba($siteColor-base, .8);
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: $space-m;
    width: 100%;
  }
  &_thumbnail {
    border-radius: 4px 4px 0 0;
    height: auto;
    width: 100% ;
  }
  &_title {
    box-sizing: border-box;
    font-size: $fontSize-xxl;
    padding: $space-l $space-xl 0;
    width: 100%;
  }
  &_text {
    line-height: 1.5;
    padding: $space-xs $space-xxl $space-l;
  }
  &_h2 {
    font-size: $fontSize-xl;
    line-height: 2;
    padding: $space-xs 0;
  }
  &_h3 {
    font-size: $fontSize-l;
    padding-bottom: $space-s;
  }
  &_h4 {
    font-size: $fontSize-m;
    padding-bottom: $space-s;
  }
  &_paragraph {
    padding: 0 $space-xxs $space-xs;
  }
  &_list {
    line-height: 1.4;
    list-style: inside;
    padding: 0 0 $space-s $space-xs;
  }
}

@include mqSP() {
  .note {
    width: 100%;
    &_thumbnail {
      display: block;
    }
    &_title {
      font-size: $fontSize-l;
      padding: $space-l $space-xs 0;
    }
    &_text {
      padding: $space-xs $space-xs;
    }
  }
}

.comments {
  @extend %contents-wrapper;
  background: rgba($siteColor-base, .8);
  color: $fontColor-default;
  padding: $space-s $space-m;
  &_title {
    @extend %subTitle;
  }
  &_list {
    margin-bottom: $space-m;
  }
  &_item {
    border-bottom: 1px solid $siteColor;
    padding: $space-xs;
  }
  &_text {
    font-size: $fontSize-s;
  }
  &_posting {
    border: 1px solid $fontColor-sub;
    border-radius: 4px;
    box-sizing: border-box;
    padding: $space-xs;
    width: 100%;
  }
}

@include mqSP() {
  .comments {
    &_list {
    }
    &_item {
    }
    &_text {
      font-size: $fontSize-ss;
    }
    &_posting {
    }
  }
}

.userInfo {
  display: flex;
    align-items: center;
  margin-bottom: $space-xxs;
  &--big {
    align-items: flex-start;
    flex-direction: column;
  }
  &_img {
    border-radius: 100%;
    height: 35px;
    margin-right: $space-xs;
    width: 35px;
    &--big {
      height: 100px;
      padding-bottom: $space-xxs;
      width: 100px;
    }
  }
  &_name {
    font-size: $fontSize-s;
    &--big {
      font-size: $fontSize-default;
      font-weight: bold;
    }
  }
  &_intro {
    font-size: $fontSize-ss;
    max-height: 80px;
    overflow: hidden;
  }
  &_date {
    color: $fontColor-sub;
    font-size: $fontSize-ss;
    margin-left: $space-xs;
  }
}

@include mqSP() {
  .userInfo {
    margin-bottom: $space-xxs;
    &--big {
      align-items: center;
      flex-direction: row;
      margin-bottom: 0;
    }
    &_img {
      height: 30px;
      width: 30px;
      &--big {
        height: 35px;
        padding-bottom: 0;
        width: 35px;
      }
    }
    &_name {
      font-size: $fontSize-ss;
    }
  }
}

.iconBox {
  color: $fontColor-sub;
  display: flex;
    align-items: center;
  &_num {
    font-size: $fontSize-ss;
    padding: 0 $space-xs 0 $space-xxs;
  }
}

.fa-bookmark.js-active {
  color: $siteColor-sub;
}

/*====================
 noteList
====================*/
.searchMenu {
  &_item {
    color: $color-white;
    font-size: $fontSize-s;
    display: flex;
      align-items: center;
      justify-content: space-between;
    padding-bottom: $space-xs;
  }
  &_sort {
    display: flex;
    a {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &_showNum {
    color: $color-white;
    font-size: $fontSize-s;
    padding: 0;
  }
}
@include mqSP() {
  .searchMenu {
    font-size: $fontSize-s;
    &_item {
      padding-bottom: $space-xs;
      &:last-child {
        align-items: flex-start;
        flex-direction: column-reverse;
      }
    }
    &_appearNum {
      margin-bottom: $space-s;
    }
  }
}

.modal {
  display: none;
  position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  z-index: 5000;
  &_header {
    color: $color-white;
    font-size: $fontSize-l;
    font-weight: bold;
    margin-bottom: $space-xs;
  }
  &_content {
    position: absolute;
      top: 120px;
      left: 50%;
    transform: translateX(-50%);
    width: 35%;
    z-index: 6000;
  }
  &_list {
    background: rgba($color-white, .5);
    border-radius: 4px;
    height: 40vh;
    overflow-y: scroll;
    padding: $space-s;
  }
  &_note {
    background: rgba($siteColor-base, .8);
    border-radius: 4px;
    margin-bottom: $space-m;
  }
  &_thumbnail {
     border-radius: 4px 4px 0 0;
     height: 250px;
     position: relative;
     &::before {
       content: '';
       background-image: url('/public/img/IMG_5131.JPG');
       background-position: center;
       background-size: cover;
       border-radius: 4px 4px 0 0;
       position: absolute;
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;
    }
  }
  &_body {
    color: $fontColor-default;
    display: flex;
    padding: $space-s;
  }
  &_outline {
    border-left: 1px solid $fontColor-default;
    box-sizing: border-box;
    display: flex;
      flex-direction: column;
    max-width: 50%;
    min-width: 50%;
    padding: $space-xs;
  }
  &_chapter {
    display: flex;
      align-items: flex-start;
      flex-direction: column;
    padding-bottom: $space-xxs;
    &:last-child {
      padding-bottom: 0;
    }
  }
  &_beginning {
    font-size: $fontSize-s;
    height: 20px;
    overflow: hidden;
  }
  &_action {
    color: $color-white;
    cursor: pointer;
    font-size: $fontSize-s;
    margin-top: $space-xs;
    &:hover {
      text-decoration: underline;
    }
  }
  &_cover {
    background: rgba($color-black, .9);
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

@include mqSP() {
  .modal {
    display: none;
    &-wrapper {
      width: 90%;
        top: 100px;
    }
    &_content {
      width: 90%;
    }
    &_note {
      margin-bottom: $space-xs;
    }
    &_thumbnail {
      height: 150px;
    }
    &_body {
      padding: $space-xxs;
    }
    &_outline {
      padding: $space-xs;
    }
    &_chapter {
      font-size: $fontSize-s;
      padding-bottom: $space-xxs;
    }
    &_beginning {
      font-size: $fontSize-sss;
      height: 40px;
    }
    &_action {
      font-size: $fontSize-s;
    }
  }
}

/*====================
 mypage
====================*/
.mypage {
  color: $fontColor-default;
  margin-bottom: $space_l;
  width: 80%;
  &_nav {
    display: flex;
    span {
      background: $fontColor-default;
    }
  }
  &_navItem {
    background: rgba($siteColor-base, .4);
    border-right: 1px solid rgba($color-white, .7);
    color: $color-white;
    cursor: pointer;
    font-weight: bold;
    padding: $space-xs $space-s;
    &:first-child {
      border-radius: 4px 0 0 0;
    }
    &:last-child {
      border-radius: 0 4px 0 0;
      border-right: none;
    }
    &:hover {
      background: rgba($siteColor-base, .2);
    }
    &.js-selected {
      background: rgba($siteColor-base, .7);
      color: $fontColor-default;
    }
  }
  &_article {
    background: rgba($siteColor-base, .7);
    border-radius: 0 4px 4px 4px;
    box-sizing: border-box;
    padding: $space-m $space-m $space-s;
    width: 100%;
  }
  &_contents {
    display: none;
    &.js-active {
      display: block;
      animation: fadeIn 1.7s;
    }
  }
  &_title {
    @extend %subTitle;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@include mqSP() {
  .mypage {
    width: 100%;
    &_nav {
      font-size: $fontSize-ss;
    }
    &_title {
      padding-bottom: $space-xs;
    }
  }
}

/*====================
 sidebar
====================*/
.sidebar {
  box-sizing: border-box;
  height: 100%;
  padding-left: 1%;
  position: sticky;
    top: 90px;
  width: 20%;
  &_wrapper {
    background: rgba($siteColor-base, .7);
    border-radius: 4px;
    color: $fontColor-default;
    margin-bottom: $space-s;
    padding: $space-xs;
    text-align: left;
  }
  &_profile {
    color: $fontColor-default;
    margin-bottom: $space-xs;
  }
  &_menu {
    &>* {
      font-size: $fontSize-s;
      padding-top: $space-xxs;
    }
    svg {
      font-size: $fontSize-m;
      margin-right: $space-xxs;
      width: 20px;
    }
  }
  &_summary {
    display: flex;
      flex-direction: column;
  }
  &_title {
    font-size: $fontSize-s;
    font-weight: bold;
    max-height: 45px;
    overflow: hidden;
  }
  &_date {
    font-size: $fontSize-ss;
  }
  &_chapters {
    font-size: $fontSize-ss;
    padding-top: $space-xs;
    & >* {
      padding-bottom: $space-xs;
    }
  }
  &--icon {
    @extend .sidebar;
    font-size: $fontSize-xl;
    padding: 0 $space-xs 0 0;
    width: 7%;
    &>.sidebar_wrapper {
      border-radius: 100%;
      box-sizing: border-box;
      cursor: pointer;
      height: 50px;
      position: relative;
      width: 50px;
    }
    svg {
      position: absolute;
        top: 50%;
        left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

@include mqSP() {
  .sidebar {
    height: auto;
    padding-left: 0;
    position: fixed;
      top: 60px;
      left: 0;
    width: 100%;
    &_wrapper {
      border-radius: 0;
      display: flex;
        align-items: center;
        justify-content: space-between;
      margin-bottom: 0;
    }
    &_profile {
      margin-bottom: 0;
      & .userInfo_intro {
        display: none;
      }
    }
    &_menu {
      display: flex;
        align-items: center;
    }
    &_menuItem {
      display: inline-block;
      width: 30px;
      margin-right: $space-xs;
      svg {
        font-size: $fontSize-xl;
      }
      span {
        display: none;
      }
    }
    &_title {
      font-size: $fontSize-ss;
      max-height: 20px;
    }
    &_date {
      font-size: $fontSize-sss;
    }
    &_chapters {
      display: none;
    }
    &--icon {
      font-size: $fontSize-xl;
      display: flex;
      padding: 0 $space-xs 0 0;
      width: 10%;
      position: fixed;
        top: calc(100% - 90px);
        left: 10px;
      &>.sidebar_wrapper {
        background: $color-white;
        min-width: 50px;
      }
      svg {
        position: absolute;
          top: 50%;
          left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
/*====================
 list
====================*/
.list {
  @extend %contents-wrapper;
  padding-top: $space-m;
  &--note {
    @extend .list;
    padding: $space-s 0;
  }
  &_title {
    @extend %subTitle;
    cursor: pointer;
    font-size: $fontSize-l;
    padding: $space-xs 0;
  }
  &_body {
    display: flex;
      flex-wrap: wrap;
    &--wish {
      background: rgba($siteColor-base, .2);
      box-sizing: border-box;
      max-height: 300px;
      overflow-y: auto;
      padding: $space-s;
      width: 100%;
    }
    &--note {
      @extend .list_body;
        justify-content: flex-start;
      margin-left: 35px;
    }
    &--scrollNote {
      @extend .list_body--note;
      height: 500px;
      overflow-y: auto;
    }
    &--destination {
      @extend .list_body;
      display: none;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: flex-start;
      margin-bottom: $space-m;
      overflow-x: auto;
      &.js-active {
        animation: showList 1.5s;
        display: flex;
      }
    }
  }
}

@keyframes showList {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@include mqSP() {
  .list {
    flex-direction: column;
    padding: 0 0 $space-l;
    &_title {
      font-size: $fontSize-m;
      padding: $space-xxs 0;
    }
    &_body {
      &--note {
          flex-direction: column;
          flex-wrap: nowrap;
        max-height: 65vh;
        margin-left: 0;
        overflow-y: auto;
      }
    }
  }
}

.pagination {
  &_list {
    display: flex;
      justify-content: center;
  }
  &_item {
    background: rgba($color-white, .5);
    border-radius: 3px;
    margin: 0 2px;
    padding: 2px $space-xxs;
    &.js-active {
      background: rgba($color-white, 1);
      color: $fontColor-default;
      font-weight: bold;
    }
  }
}

/*====================
 panel
====================*/
.panel {
  border-radius: 4px;
  color: $fontColor-default;
  position: relative;
  &--note {
    @extend .panel;
    background: rgba($color-white, 1);
    box-shadow: 0 0 5px 0 rgba($color-black, .2);
    height: 290px;
    margin: 0 $space-xs $space-s 0;
    position: relative;
    transition: all .5s;
    width: 220px;
    &:hover {
      box-shadow: 0 0 25px 5px rgba($color-black, .2);
      transform: scale(1.2);
      z-index: 1000;
    }
  }
  &_pref {
    background: rgba($color-white, .3);
    border-radius: 4px 0 4px 0;
    color: $color-white;
    font-size: $fontSize-ss;
    padding: 2px 4px;
    position: absolute;
      top: 0;
      left: 0;
  }
  &_thumbnail {
    background: rgba($color-black, .7);
    border-radius: 4px 4px 0 0;
    height: 150px;
  }
  &_info {
    border-radius: 0 0 4px 4px;
    box-sizing: border-box;
    height: auto;
    padding: $space-xxs $space-xs;
    width: 100%;
    > * {
      margin-bottom: $space-xxs;
    }
  }
  &_title {
    font-size: $fontSize-s;
    max-height: 45px;
    overflow: hidden;
  }
  &_subInfo{
    color: $fontColor-sub;
    font-size: $fontSize-ss;
    line-height: 1.3;
    &> * {
      padding-bottom: $space-xxs;
    }
  }
  &--wish {
    @extend .panel;
    background: $color-white;
    box-sizing: border-box;
    display: flex;
      align-items: center;
      justify-content: space-between;
    margin-bottom: $space-xxs;
    padding: $space-xs $space-s;
    width: 100%;
    & .userInfo {
      margin-bottom: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
    svg {
      color: $fontColor-sub;
      cursor: pointer;
      font-size: $fontSize-xl;
      position: absolute;
      right: 15px;
    }
  }
  &_table {
    margin-right: 25px;
    min-width: 70%;
    tbody {
      display: flex;
        align-items: center;
    }
  }
  &_tableElm {
    display: flex;
      align-items: flex-start;
      flex-direction: column;
    &:first-child {
      min-width: 30%;
    }
    th {
      color: $fontColor-sub;
      font-size: $fontSize-ss;
      padding-right: $space-xs;
    }
    td {
      font-size: $fontSize-s;
    }
  }
  &--destination {
    @extend .panel;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    height: 80px;
    margin: 0 $space-xs $space-xs 0;
    min-width: 15%;
  }
  &_destImg {
    border-radius: 4px;
    height: 100%;
    transition: all .5s;
  }
  &_destCover {
    background: rgba($color-black, .9);
    border-radius: 4px;
    opacity: 1;
    position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    transition: all 1s;
    &:hover {
      opacity: 0;
      transform: scale(1.2);
    }
  }
  &_destName {
    color: $color-white;
    font-size: $fontSize-s;
    position: absolute;
      top: 50%;
      left: 50%;
    transform: translate(-50%, -40%);
  }
}

@include mqSP() {
  .panel {
    &--note {
      width: 100%;
    }
    &_info {
      padding: $space-xs $space-xs $space-xxs;
    }
    &_title {
      font-size: $fontSize-s;
      max-height: 45px;
    }
    &_subInfo {
      display: flex;
        align-items: center;
        justify-content: space-between;
      &> * {
        padding-bottom: 0;
      }
    }
    &--wish {
      align-items: flex-start;
      flex-direction: column;
      & .userInfo {
        margin-bottom: $space-xxs;
      }
    }
    &_table {
      min-width: 100%;
    }
    &_tableElm {
      &:first-child {
        min-width: 25%;
      }
      th {
        font-size: $fontSize-sss;
        padding-right: $space-xxs;
      }
      td {
        font-size: $fontSize-ss;
      }
    }
    &--destination {
      height: auto;
      min-width: 30%;
    }
    &_destName {
      font-size: $fontSize-s;
    }
  }
}

/*====================
 form
====================*/
.form {
  @extend %contents-wrapper;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  padding: $space-l $space-m;
  &--editor {
    @extend %contents-wrapper;
    color: $fontColor-default;
    background: rgba($color-white, .7);
    padding: $space-l $space-l;
  }
  &_name {
    margin-bottom: $space-xxs;
    display: flex;
    align-items: center;
  }
  &_label {
    padding: 2px 3px;
    border-radius: 2px;
    margin-right: $space-xxs;
    font-size: $fontSize-ss;
    color: $color-white;
    &--required {
      background: $siteColor-err;
    }
    &--optional {
      background: $siteColor-base;
    }
  }
  &_input {
    height: 45px;
    width: 100%;
    border-radius: 3px;
    background: $siteColor-base;
    &:focus-visible {
      outline: none;
    }
    &:focus {
      border: 2px solid $siteColor-sub;
    }
    &--header {
      font-size: $fontSize-xl;
      height: 55px;
    }
    &--half {
      width: 40%;
    }
    &--err {
      background: rgba($siteColor-err, .3);
    }
  }
  &_avatar {
    width: 130px;
    height: auto;
  }
  &_addThumbnail {
    cursor: pointer;
    display: flex;
      align-items: center;
    svg {
      padding-right: $space-xxs;
    }
  }
  &_button {
    width: 45%;
    padding: $space-xs 0;
    border-radius: 4px;
    box-sizing: border-box;
    margin: $space-xs auto 0;
    background: $siteColor-button;
    box-shadow: 0 4px 1px #552808;
    color: $color-white;
    letter-spacing: 0.05em;
    transition: .1s;
    display: block;
    &:hover {
      filter: brightness(1.5);
    }
    &:active {
      box-shadow: none;
      transform: translateY(4px);
    }
  }
  &_editor {
    background: $siteColor-base;
    border-radius: 4px;
    padding-top: $space-m;
  }
  &_errMsg {
    height: 15px;
    margin-bottom: $space-s;
    font-size: $fontSize-ss;
    color: $siteColor-err;
  }
  &_notion {
    font-size: $fontSize-ss;
    padding-top: $space-xs;
    text-align: right;
    &>* {
      margin-top: $space-xxs;
    }
  }
}

@include mqSP() {
  .form {
    &_date {
      align-items: flex-start;
      flex-direction: column;
    }
    &--editor {
      padding: $space-l $space-xxs;
    }
    &_name {
      font-size: $fontSize-s;
    }
    &_label {
      font-size: $fontSize-sss;
    }
    &_input {
      height: 35px;
      &--header {
        font-size: $fontSize-m;
        height: 55px;
      }
    }
    &_button {
      padding: $space-xxs 0;
      font-size: $fontSize-s;
      &:hover {
        filter: brightness(1.5);
      }
      &:active {
        box-shadow: none;
        transform: translateY(4px);
      }
    }

    &_editor {
      padding: $space-m $space-xxs 0;
    }
  }
}
/*====================
  セッションメッセージ
====================*/
.flashMsg {
  height: 60px;
  position: fixed;
   top: -100%;
   left: 0;
  text-align: center;
  transition: all 1.5s;
  width: 100%;
  z-index: 3000;
  &.js-active {
    top: 0;
  }
  &--success {
    background: rgba(#338a4e, .98);
  }
  &--err {
    background: rgba($siteColor-err, .9);
  }
  &_text {
    color: $color-white;
    font-size: $fontSize-m;
    font-weight: bold;
    line-height: 60px;
  }
}

/*====================
  プロフィールカルーセル
====================*/
.carousel {
  height: 670px;
  overflow: hidden;
  position:relative;
  &_wrapper {
    display: flex;
    position: absolute;
  }
  &_item {
    box-sizing: border-box;
    min-width: 100vw;
    padding: 0 32.5vw;
  }
  &_nav {
    box-sizing: border-box;
    display: flex;
      justify-content: space-between;
    margin: 0 auto;
    min-width: 100vw;
    padding: $space-l 32.5vw $space-m;
  }
  &_navItem {
    cursor: pointer;
    display: flex;
      align-items: center;
      flex-direction: column;
    min-width: 30%;
    span {
      background: $color-white;
      border-radius: 100%;
      height: 50px;
      position: relative;
      width: 50px;
    }
    &.js-active {
      span {
        background: $color-black;
        color: $color-white;
      }
    }
    p {
      color: $fontColor-sub;
      font-size: $fontSize-ss;
    }
  }
  &_icon {
    font-size: $fontSize-xl;
    position: absolute;
      top: 50%;
      left: 50%;
    transform: translate(-50%, -50%);
  }
}

@include mqSP() {
  .carousel {
    &_item {
      width: 100vw;
      padding: 0;
    }
    &_nav {
      min-width: 100vw;
      padding: $space-l 0 $space-m;
    }
  }
};

/*====================
  ウィッシュリスト
====================*/
.followingBtn {
  background: $siteColor-accent;
  border-radius: 30px;
  box-shadow: 0 3px 1px #4b3803;
  box-sizing: border-box;
  color: $color-white;
  cursor: pointer;
  display: flex;
    align-items: center;
    justify-content: space-between;
  font-size: $fontSize-s;
  font-weight: bold;
  height: auto;
  padding: $space-xs;
  position: fixed;
    right: 50px;
    bottom: 50px;
  transition: all .1s;
  width: 120px;
  &:hover {
    filter: brightness(1.2);
  }
  &:active {
    box-shadow: none;
    transform: translateY(3px);
  }
}

@include mqSP() {
  .followingBtn {
    box-shadow: 0 5px $color-black;
    font-size: $fontSize-ss;
    height: 40px;
    padding: $space-xxs;
      right: 10px;
    width: 95px;
  }
}

/*====================
  ピンポイントアイテム
====================*/
.smallfont {
  font-size: $fontSize-ss;
  letter-spacing: 0.01em;
}

.link{
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.itemSeparater {
  background: $color-white;
  margin: 0 $space-xs;
  width: 1px;
}
